.block {
    display: block;
    margin: 0 auto;
    // background-image: linear-gradient(to right top, #fafaf9, #faf9f5, #fbf8f1, #fdf7ed, #fff5ea);
    background-image: linear-gradient(to right top, #fbf8f1, #fbf9f2, #faf9f4, #fafaf6, #fafaf7, #f9f9f5, #f9f8f3, #f9f7f1, #f9f5eb, #fbf2e4, #fdefdf, #ffecd9);
    // background-color: #fff5ea;
    height: 700px;
    width: 600px;
    text-align: center;
    padding-top: 25px;
    border-radius: 20px;

}